body {
  background-color: #f7ecde;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: #377d71;
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
}

p {
  color: #18978f;
  padding: 0 30px;
  font-size: large;
}
